{% extends 'base_with_card.html' %}

{% block title %}Dashboard{% endblock %}

{% block card_content %}
  {% if user.is_authenticated %}
    <div class="text-center mb-4">
      <h5 class="card-title mb-2">{{ user.username }}</h5>
    </div>

    <div class="d-grid gap-3 mb-4">
      <a href="{% url 'admin:index' %}" class="btn btn-secondary">База данных</a>
      <a href="{% url 'db_admin:product_list' %}" class="btn btn-info">Маршрутные карты и расход</a>
    </div>

    <br><br><br><br>

    <div class="position-absolute end-0 bottom-0 m-3 d-flex flex-column align-items-end">
      <a href="{% url 'password_change' %}" class="btn btn-secondary mb-2">Сменить пароль</a>
      <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mb-2">Выйти</button>
      </form>
    </div>
  {% else %}
    <p class="text-center">Вы не авторизованы</p>
    <div class="text-center">
      <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
    </div>
  {% endif %}
{% endblock %}